Alexandra Coffin
2023 Feb 6
Data Analytics Fundementals
Dr. Case
acoffin_1.ipynb

# Excersise 7.14:

## Creating the Panda Series
(1) Follow the instructions in the "Dictionary Initializers' subsection to modify your code to initialize grades with a dictionary (a set of key-value pairs instead) - we'll use the student name as the key  and their exam score as the value. 

(2) Get Eva's score by calling grades['Eva']

(3) Get Wally's score using the easier dot notation: grades.Wally.  This is much more common and can be used as long as there are -NO spaces in the key text.  If there are spaces, you'll have to use the approach we used for Eva above - wrapping the key in single quotes.

(4) Use the Series values attribute to display the array of values.

(5) Complete the self-check on Page 266.

In [3]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\tower\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tower\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd

# 1. Establishing pandas work
Several versions of the same panda where created to demonstrate different methods of utilizing and constructing pandas. A series is an enhanced one-dimensional array. Arrays use only zero-based integer indices, custom indexing and even non-intiger indicies. A series may have missing data, and these will operations ignore missing data by default.

In [5]:
grades = pd.Series([87, 100, 94])

In [6]:
grades

0     87
1    100
2     94
dtype: int64

In [7]:
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

# 2. Exicuting Tasks:
Utilizing count, mean, min, max, std, description

In [8]:
grades.count()

3

In [9]:
grades.mean()

93.66666666666667

In [10]:
grades.min()

87

In [11]:
grades.max()

100

In [12]:
grades.std()

6.506407098647712

## Describe:
Describe will produce quartiles, it is important to remember that the median is equal to 50%, the 25% is the median of the first half of the sorted values and the 75% represents the median of the second half of the values. Quartiles and interquartile range are more useful in a larger database, but this method will work for smaller sets.

In [13]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

# 3. Creating a Series with Custom Indices
A method utilizing a key word argument, this allows us to use immutable types, including intigers not beginning at 0 and non consecutive integers.

In [14]:
grades = pd.Series([87,100, 94], index=['Wally', 'Eva', 'Sam'])

In [15]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

# 4. Dictionary Initializers:
Key words becoming the series of indicies and values become the Series' element values.
Demonstrating type, values and looking up an idividual's grades based on key word.

In [16]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [17]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [18]:
grades['Eva']

100

In [19]:
grades.Wally

87

In [20]:
grades.dtype

dtype('int64')

In [21]:
grades.values

array([ 87, 100,  94], dtype=int64)

## 5. Self Chack: p. 266

In [22]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\tower\anaconda3\lib\site-packages (1.21.5)

In [23]:
import numpy as np

In [24]:
temps = np.random.randint(60, 101, 8)

In [25]:
temperatures = pd.Series(temps)

### Converting array into Series called temperatures

In [26]:
temperatures

0    76
1    80
2    71
3    66
4    89
5    66
6    99
7    88
dtype: int32

### Determining Lowest, Highest and Average Temperatures:

In [27]:
temperatures.min()

66

In [28]:
temperatures.max()

99

In [29]:
temperatures.mean()

79.375

## Describe.method
Using the describe method calculates basic descriptive statistics for the data, and returns it as a frame. This creates a quick summary, that allows for a rapid display of an array.

In [30]:
temperatures.describe()

count     8.000000
mean     79.375000
std      11.903631
min      66.000000
25%      69.750000
50%      78.000000
75%      88.250000
max      99.000000
dtype: float64