Alexandra Coffin
2023 Feb 6
Data Analytics Fundementals
Dr. Case
xtra_P4

# Optional Task 5 (Bonus).
Raw data is rarely ready for use.
Data preparation can be about 75% (or more) of our work.
Work through Ch 8.13 to get an idea of wrangling (cleaning & transforming) data.
On your machine, in your repo, create an additional notebook named xtra_p4.ipynb.
(1) Start by creating the list of contacts in "Reformatting your Data" on page 310.
(2) Create a DataFrame. 
(3) The phone numbers are not formatted.
(4) Follow the text to create a function that uses regular expressions (usually abbreviated regex or re) to create a function to get a formatted version of the unformatted phone number. 
(5) Use map() and your function to improve the DataFrame 
(6) Verify phone numbers now appear with two dashes (e.g., 555-555-5555). 
(7) Prepare your notebook with a nice header (include a title, your name, and date)
(8) Clearly label your steps and result. 
(9) Execute the entire notebook, export it to xtra_p4.html.
(10) Commit and push both files into your GitHub repo.

#### Pip Installation:
As there where issues with the Pandas PATH I install pandas at the top of the code to ensure it's brought in correctly and usable.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\tower\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\tower\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\tower\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import re

## Creating a List and DataFrame of Contacts

In [4]:
contacts = [['Mike Green', 'dmol@deitel.com', '5555555678'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [5]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

In [6]:
contactsdf

         Name             Email       Phone
0  Mike Green   dmol@deitel.com  5555555678
1   Sue Brown  demo2@deitel.com  5555551234

## Formatting Phone Numbers

In [7]:
contactsdf = pd.DataFrame(contacts,
                         columns=['Name', 'Email', 'Phone'])

Creating the formatted numbers involves using a combination of turples and definitions to create the familiar structure of numbers and emails.

### Creating the Definition:
Creation of the structure that we will be mapping into the code. The expression in the block's first statment matches only 10 consecutive digits. If result is none, we return value modified. Series method map returns a new series containing the results of calling the fuction argument for each value in the column.

In [8]:
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

### Mapping to get the format as defined:
Creating this map will allow for the creation of a function that recives a value and returns the mapped value. The Mapped value in this case being the desired structure for the data.

In [9]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [10]:
formatted_phone

0    555-555-5678
1    555-555-1234
Name: Phone, dtype: object

### Creating the Formatted Contacts List:
This step will produce the final version of the list with the phone numbers broken up with dashes and the email being structured in a recognized form.

In [11]:
contactsdf['Phone'] = formatted_phone

In [12]:
contactsdf

         Name             Email         Phone
0  Mike Green   dmol@deitel.com  555-555-5678
1   Sue Brown  demo2@deitel.com  555-555-1234